.label{
    display: block;
    margin: 20px 10px;
    font-size: 20px;
}
.input{
    margin-left: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}

