[data-theme="light"] {
  --main-color: #fff;
  --secondary-color: #fff;
  --text-color: #1c1e21;
  --color-accent: #4d4d4d;
}

[data-theme="dark"] {
  --main-color: #4d4d4d;
  --secondary-color: #242526;
  --text-color: #f5f6f7;
  --color-accent: #e50914;
}

.contactList {
  list-style: none;
  padding: 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 4px 1px var(--color-accent);

}

.contactItem p {
  font-size: 1.2rem;
  margin: 0;
  width: calc(100% / 3);
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}